In [1]:
'''
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */
'''

import sqlite3
import pandas as pd

# Create the connection
cnx = sqlite3.connect(r'C:\Users\abhiram.muktineni\Desktop\DS\DS Career Track docs\Unit 8 - SQL & Databases\8.3 SQL Case Study - Country Club\SQLFiles Tier 2\sqlite_db_pythonsqlite.db')

# create the dataframe from a query
df = pd.read_sql_query("SELECT * FROM (SELECT sub.facility, SUM( sub.Cost ) AS total_revenue FROM (SELECT f.name AS facility, CASE WHEN b.memid =0 THEN f.guestcost * b.slots ELSE f.membercost * b.slots END AS Cost FROM Bookings AS b INNER JOIN Facilities AS f ON b.facid = f.facid INNER JOIN Members AS m ON b.memid = m.memid)sub GROUP BY sub.facility)sub2 WHERE sub2.total_revenue <1000", cnx)

print(df)

        facility  total_revenue
0     Pool Table            270
1  Snooker Table            240
2   Table Tennis            180

In [2]:
'''
/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
'''
df1 = pd.read_sql_query("SELECT surname, firstname, recommendedby FROM Members ORDER BY surname, firstname", cnx)
print(df1)

              surname  firstname recommendedby
0               Bader   Florence             9
1               Baker       Anne             9
2               Baker    Timothy            13
3              Boothe        Tim             3
4             Butters     Gerald             1
5              Coplin       Joan            16
6             Crumpet      Erica             2
7                Dare      Nancy             4
8             Farrell      David
9             Farrell     Jemima
10              GUEST      GUEST
11            Genting    Matthew             5
12               Hunt       John            30
13              Jones      David             4
14              Jones    Douglas            11
15           Joplette     Janice             1
16          Mackenzie       Anna             1
17               Owen    Charles             1
18             Pinker      David            13
19            Purview  Millicent             2
20             Rownam        Tim
21             Rumney  Henrietta            20
22             Sarwin  Ramnaresh            15
23              Smith     Darren
24              Smith     Darren
25              Smith       Jack             1
26              Smith      Tracy
27           Stibbons     Ponder             6
28              Tracy     Burton
29         Tupperware   Hyacinth
30  Worthington-Smyth      Henry             2

In [6]:
'''
Q12: Find the facilities with their usage by member, but not guests
'''

df2 = pd.read_sql_query("SELECT f.name AS Facility, (SUM(b.slots) * 0.5) AS Usage_hours FROM Members AS m LEFT JOIN Bookings AS b ON m.memid = b.memid LEFT JOIN Facilities AS f ON b.facid = f.facid WHERE m.firstname <> 'GUEST' AND m.surname <> 'GUEST' AND Facility <> 'None' GROUP BY Facility", cnx)
print(df2)

'''
SELECT f.name AS Facility, (SELECT SUM(b.slots) * 0.5) AS Usage_Hrs
FROM Facilities as f
INNER JOIN Bookings as b
USING (facid)
INNER JOIN Members AS m
USING (memid)
ORDER BY Usage_hrs;
'''
'''
SELECT f.name, (SUM(b.slots) * 0.5) AS hours FROM Facilities AS f 
INNER JOIN Bookings as b
USING (facid) GROUP BY f.name
'''

          Facility  Usage_hours
0  Badminton Court        543.0
1   Massage Room 1        442.0
2   Massage Room 2         27.0
3       Pool Table        428.0
4    Snooker Table        430.0
5     Squash Court        209.0
6     Table Tennis        397.0
7   Tennis Court 1        478.5
8   Tennis Court 2        441.0

'\nSELECT f.name, (SUM(b.slots) * 0.5) AS hours FROM Facilities AS f \nINNER JOIN Bookings as b\nUSING (facid) GROUP BY f.name\n'

In [14]:
'''
Q13: Find the facilities usage by month, but not guests
'''
df3 = pd.read_sql_query("SELECT f.name AS name, extract(MONTH FROM b.starttime) AS MONTH, sum( b.slots * 0.5 ) AS Usage_Hours FROM Bookings AS b INNER JOIN Facilities AS f USING (facid) WHERE b.memid <> 0 GROUP BY facid, MONTH ORDER BY facid, MONTH", cnx)
print(df3)

DatabaseError: Execution failed on sql 'SELECT f.name AS name, extract(MONTH FROM b.starttime) AS MONTH, sum( b.slots * 0.5 ) AS Usage_Hours FROM Bookings AS b, INNER JOIN Facilities AS f USING (facid) WHERE b.memid <> 0 GROUP BY facid, MONTH ORDER BY facid, MONTH': near "FROM": syntax error